@font-face {
    font-family: 'Trunic';
    src: local("Trunic"),
        url('/src/assets/font/Trunic.otf') format('opentype');
}

.Home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container h2{
    margin-top: 45%;
    color: #F5F5F5;
    font-family: Judson;
    text-transform: uppercase;
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
}

.container h3{
    color: #F5F5F5;
    font-family: Judson;
    text-transform: uppercase;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
}

.intro{
    position: relative;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 80px;
}

.rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px;
    border: 3px solid white;
    font-size: 30px;
  }
  
  td {
    width: 300px;
    height: 70px;
    text-align: center;
    border-bottom: 2px solid white;
  }
  
  .rounded-corners tr:last-child td {
    border-bottom: none; /* Removes the border bottom from the last row */
  }
  
  .rounded-corners th:not(:last-child),
  .rounded-corners td:not(:last-child) {
    border-right: 2px solid white;
  }
  
.Awards{
    padding-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.description {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container p{
    color: #F5F5F5;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.Logo {
    height: 150px;
    width: 300px;
    padding-top: 50px;
    background-image: url("/src/assets/img/tunicLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

.IconContainer {
    position: absolute;
    float: right;
    border-radius: 120px;
    height: 110px;
    width: 110px;
    background: rgba(217, 217, 217, 0.21);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Icon {
    height: 75px;
    width: 75px;

}

.col {
    position: relative;
    height: 100%;
    min-height: 80vh;
    display: flex;
}

.fox{
    width: 40%;
}

.trunic {
    font-family: "Trunic";
    src: local("Trunic"),
        url("/src/assets/font/Trunic.otf") format("otf");
}