@font-face {
    font-family: 'Trunic';
    src: local("Trunic"),
        url('/src/assets/font/Trunic.otf') format('opentype');
}

.Home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container {
    width: 95%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container h2{
    margin-top: 45%;
    color: #F5F5F5;
    font-family: Judson;
    text-transform: uppercase;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
}

.container h3{
    color: #F5F5F5;
    font-family: Judson;
    text-transform: uppercase;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
}

.intro {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start */
    padding-left: 20px; /* Reduce padding */
}

.rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 30px;
}
  
td {
    width: 300px;
    height: 50px;
    text-align: center;
    border-bottom: 2px solid white;
    font-size: medium;
    }

    td:hover {
        transition: background-color 0.5s ease; /* Add transition for smooth hover */
        background-color: rgba(255, 255, 255, 0.2); /* Lighten the background on hover */
    }
  .rounded-corners tr:last-child td {
    border-bottom: none; /* Removes the border bottom from the last row */
  }
  
  .rounded-corners th:not(:last-child),
  .rounded-corners td:not(:last-child) {
    border-right: 2px solid white;
  }

.Home .description {
    position: relative;
    width: 25%;
    height: auto; /* Adjust height to auto */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    padding-right: 20px; /* Reduce padding */
}

.container p {
    color: #F5F5F5;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* Adjust line height */
    margin: 10px 0; /* Add margin between paragraphs */
}

.Logo {
    height: 150px;
    width: 300px;
    padding-top: 5%;
    background-image: url("/src/assets/img/tunicLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

.IconContainer {
    position: absolute;
    float: right;
    border-radius: 120px;
    height: 110px;
    width: 110px;
    background: rgba(217, 217, 217, 0.21);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Icon {
    height: 75px;
    width: 75px;

}

.Awards{
    position: absolute;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 10%;
}

.col {
    position: relative;
    height: 100%;
    min-height: 80vh;
    display: flex;
}

.fox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trunic {
    font-family: "Trunic";
    src: local("Trunic"),
        url("/src/assets/font/Trunic.otf") format("otf");
}